<section class="philosophy" id="philosophy" aria-labelledby="philosophy-heading">
  <div class="container">
    <div class="philosophy__content">
      <p class="philosophy__contrast" data-testid="philosophy-contrast">
        How we work
      </p>
      <h2 class="philosophy__statement" id="philosophy-heading" data-testid="philosophy-statement">
        We don't do<br>
        <em class="philosophy__accent">one thing.</em>
      </h2>
      <div class="philosophy__rule" aria-hidden="true"></div>
      <p class="philosophy__body" data-testid="philosophy-body">
        Some projects become software. Others become something to read, or something
        we don't have a name for yet. We make the thing before we try to explain it.
      </p>
    </div>
  </div>
</section>
